/* ==========================================================================
   Global
   ========================================================================== */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ==========================================================================
   Section navigation
   ========================================================================== */

.section-nav {
    background: #c0c0c0;
}

.section-nav__menu {
    padding: 0;
    margin: 0;
}

.section-nav__menu > li {
    display: none;
    padding: 0.8em;
}

.section-nav__menu > li:first-child,
.section-nav__menu--is-open > li {
    display: block;
}

@media (min-width: 31.563em) {
    .section-nav {
        display: inline-block;
        width: 100%;
    }

    .section-nav__menu > li {
        display: inline-block;
        float: left;
    }

    .section-nav__menu > li:first-child {
        display: none;
    }
}

.section-nav__button {
    width: 2em;
    height: 2em;
    margin: 0;
    background: #5e5e5e;
    border: 3px solid #fff;
    border-radius: 5px;
    background: transparent url(nav_bg.png) no-repeat -1px 1px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .section-nav__button {
        background-image: url(nav_bg@2x.png);
        background-size: 27px 24px;
    }
}