/* ==========================================================================
   Global
   ========================================================================== */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ==========================================================================
   Navigation Menu
   ========================================================================== */

.navigation {
    background: #c0c0c0;
    padding: 0 0 0.3em;
}

.navigation__toggle {
    display: inline-block;
    margin: 0.7em 0 0 0.5em;
    padding: 0 0 0 1.5em;
    background: transparent url(side_nav_bg.png) no-repeat 0 0;
    background-size: 35px 28px;
    height: 28px;
    width: 35px;
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
}

.navigation__toggle:hover,
.navigation__toggle:focus,
.navigation__toggle:active {
    opacity: 1;
}

.navigation__menu {
    padding: 0;
    margin: 0;
}

.navigation__menu li {
    display: none;
    padding: 0.8em;
}

@media (min-width: 38.438em) {
    .navigation__toggle {
        display: none;
    }

    .navigation__menu {
        margin: 0;
        display: block;
        text-align: center;
    }

    .navigation__menu li {
        display: inline-block;
        margin: 0 0.5em;
    }

    .overlay-navigation--is-open .navigation__menu {
        min-height: 2.6875em; /* 43px */
    }

    .overlay-navigation--is-open .navigation__menu li {
        display: none;
    }
}

/* ==========================================================================
   Navigation Overlay
   ========================================================================== */

.overlay-navigation,
.overlay-background {
    display: none;
}

.overlay-navigation__menu {
    padding: 0 0 0 1em;
}

.overlay-navigation__menu li {
    padding: 0 0 1em;
}

@media (min-width: 21.875em) {
    .overlay-navigation__menu li {
        font-size: 20px;
        font-size: 1.250rem;
        color: red;
    }
}

.overlay-navigation--is-open .overlay-navigation,
.overlay-navigation--is-open .overlay-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 00100;
    height: 100%;
    width: 50%;
    background: #c0c0c0;
}

.overlay-navigation--is-open .overlay-background {
    z-index: 00010;
    width: 100%;
    background: #000;
    opacity: .7;
}

