<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pattern Name</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/vendor/normalize.css">
    <script src="../js/vendor/respond.min.js"></script>

    <script src="../js/vendor/modernizr.js"></script>

    <style>
     /*
        mobile-first
     */

     @media (min-width: 20.1em) {

     }
    </style>
</head>
<body>


<script src="../js/liveReload.js"></script>
</body>
</html>
