<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grid</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/vendor/normalize.css">

    <link rel="stylesheet" href="grid.css">
    <script src="../js/vendor/respond.min.js"></script>

    <script src="../js/vendor/modernizr.js"></script>
</head>
<body>

<h1>Grid</h1>

<h2>Set placement of items into fixed-width grid cells</h2>

<div class="wrapper1">
    <div class="box a">A</div>
    <div class="box b">B</div>
    <div class="box c">C</div>
    <div class="box d">D</div>
</div>

<hr />

<h2>Using named columns and rows</h2>

<div class="wrapper2">
    <div class="box a">A</div>
    <div class="box b">B</div>
    <div class="box c">C</div>
    <div class="box d">D</div>
</div>

<hr />

<h2>Responsive layout using Template Areas</h2>

<div class="wrapper3">
    <header class="box">Header</header>
    <article class="box content">Content</article>
    <aside class="box sidebar">Sidebar</aside>
    <footer class="box">Footer</footer>
</div>



</body>
</html>