<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grid - percentages, floats, offsets | Layout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/vendor/normalize.css">

    <link rel="stylesheet" href="index.css">
    <script src="../js/vendor/respond.min.js"></script>

    <script src="../js/vendor/modernizr.js"></script>
</head>
<body>
<div class="container">

    <h1>12 column grid</h1>

    <ul class="active-grid-indicator">
        <li class="active-grid-indicator__px">Default</li>
        <li class="active-grid-indicator__px450">450px</li>
        <li class="active-grid-indicator__px640">640px</li>
        <li class="active-grid-indicator__px1000">1000px</li>
    </ul>
    
    <div class="row">
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
        <div class="col-1">
            1
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            2
        </div>
        <div class="col-2">
            2
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            3
        </div>
        <div class="col-3">
            3
        </div>
        <div class="col-3">
            3
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            4
        </div>
        <div class="col-4">
            4
        </div>
        <div class="col-4">
            4
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            6
        </div>
        <div class="col-4">
            4
        </div>
        <div class="col-2">
            2
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            5
        </div>
        <div class="col-7">
            7
        </div>
    </div>


    <hr />

    <h2>Offset columns</h2>

    <div class="row">
        <div class="col-1">
            1
        </div>
        <div class="col-1 offset-1">
            1, offset-1
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            2
        </div>
        <div class="col-2 offset-3">
            2, offset-3
        </div>
        <div class="col-2">
            2
        </div>
        <div class="col-3">
            3
        </div>
    </div>

</div>


</body>
</html>