*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    float: left;
    width: 100%;
    background: #b58e00;
}

@media (min-width: 62.500em) {
    .container {
        background: transparent url(bg_cloud.png) no-repeat 0 0;
        background-size: 100%;
    }

    .primary,
    .secondary,
    .tertiary {
        float: left;
        padding: 0 1%;
    }

    .primary {
        width: 50%;
    }

    .secondary {
        width: 30%;
    }

    .tertiary {
        width: 20%;
    }
}
